<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Hello Spring MVC</title>
</head>
<body>
    <div class="container my-2">

	   <h1>Hello Spring MVC</h1>
	   <h1 th:text='${ hello }'></h1>
	   
	   <table border="1" class="table table-striped table-responsive-md">
            <thead>
                <tr>
                    <th></th>
                    <th>姓名</th>
                    <th>職務</th>
                    <th>薪資</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="employee : ${ Employees }">
                    <td></td>
                    <td th:text="${employee.name}"></td>
                    <td th:text="${employee.position}"></td>
                    <td th:text="${employee.salary}"></td>
                </tr>
            </tbody>
        </table>
        
        <h1 th:text='${ employee }'></h1>
	       
    </div>	
</body>
</html>